<div class="row">
	<div class="col-md-4">
		<cfmodule template="fieldList.cfm" baseId="data" onselect="selectField">
	</div>
	<div class="col-md-8">
		<div style="padding:20px;">
		
		</div>
	</div>
</div>
