.footer {
    font-size:8pt;
    width:100%;
    text-align:center;
    color:#999999;
    padding-top:40px;
}
.fileList {
    font-weight: bold;
    margin-bottom: 4px;
}
.loadSpinner {
    width: 100%;
    margin-top:80px;
    text-align: center;
}
.loadSpinner h2 {
    color: silver;
}